@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-tommy: 'Made Tommy', sans-serif;
}

@font-face {
    font-family: 'Made Tommy';
    font-style: 'normal';
    src: local('Made Tommy'), local('Made-Tommy'), local('made tommy'), local('Mmade-tommy'),
        url('/static/fonts/madetommy.otf') format("otf");
    font-weight: normal;
    font-display: swap;
}
